body {
	font-family:Verdana, Geneva, sans-serif;	
	font-size:16px;
}

a {
	text-decoration:none;
	color:#000;
}

h1 {
	font-size:28px;
	border-bottom:1px solid #000;
}

h2 {
	font-size:20px;
	border-bottom:1px solid #000;
	background-color:#EEE;
}

table td {
	min-width:300px;
	padding:5px;
}

table {
	border-spacing:0px;
}

.description {
	font-size:12px;	
}

.row-highlighted {
/*	background-color:#CCC; */
}

.success {
    color:green;
    font-size: 12px;
}

.info {
    color:blue;
    font-size: 12px;
}

.error {
    color:red;
    font-size: 12px;
}

.online {
    color:green;
}

.offline {
    color:red;
}

#content {
	width: 700px;	
	border:1px solid #000;
	padding:10px;
}

.container {
	
}